.container {
  cursor: pointer;
  padding: 0.5rem 0;
}

.container input {
  display: none;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: block;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  background-color: inherit;
  border: 4px solid whitesmoke;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  border-color: var(--neon-green);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: var(--neon-green);
  border-color: var(--neon-green);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  width: 5px;
  height: 10px;
  margin-left: 4px;
  border: solid var(--gray);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}