.container {
  background-color: var(--dark);
  margin-bottom: 1.5rem;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container>p {
  opacity: 60%;
}

.container p {
  padding: 0;
  margin: 0;
}

.meter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meter-text {
  font-weight: 700;
  margin-right: 1rem;
}

.bar {
  display: block;
  width: 6px;
  height: 1.15rem;
  margin-right: 6px;
  border: 2px solid whitesmoke;
}

.red,
.green,
.yellow,
.orange {
  border: 2px solid transparent;
}

.red {
  background-color: var(--neon-red);
}

.orange {
  background-color: var(--neon-orange);
}

.yellow {
  background-color: var(--neon-yellow);
}

.green {
  background-color: var(--neon-green);
}

.unit:last-of-type {
  margin-right: 0;
}