#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --neon-green: #a4ffaf;
  --neon-yellow: #fff205;
  --neon-red: #fe0000;
  --neon-orange: #ff5733;
  --neon-blue: #4db8ff;
  --neon-pink: #fb48c4;
  --black: #24232c;
  --gray: #5f5f5f;
  --dark: #18171f;
}

.App {
  width: 750px;
  font-size: 1.15rem;
}

.uppercase {
  text-transform: uppercase;
}

.muted {
  color: var(--gray);
}

.card {
  padding: 1rem 2rem;
  background-color: var(--black);
}

.pass {
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pass-text {
  font-size: 2rem;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0 1rem 0;
}

.btn {
  width: 100%;
  background-color: var(--neon-green);
  color: var(--black);
  padding: 1rem 0rem;
  font-weight: 700;
  font-size: 1.5rem;
  border: 0.25rem solid transparent;
}

.btn:hover {
  background-color: var(--black);
  border: 0.25rem solid var(--neon-green);
  color: var(--neon-green);
}

.copy-btn:hover,
.btn:hover {
  cursor: pointer;
}

.copy-btn > svg {
  color: var(--neon-green);
  height: 2rem;
  width: 2rem;
}

.copy-btn:hover > svg {
  color: whitesmoke;
}

.char-length {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 0;
  width: 100%;
}

.font-xl {
  font-size: 2rem;
  color: var(--neon-green);
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(var(--neon-green), var(--neon-green));
  background-repeat: no-repeat;
  background-size: 33.3% 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: white;
  cursor: ew-resize;
  transition: background 300ms ease-in-out;
}

label {
  display: flex;
  align-items: center;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--black);
  border: 1px solid var(--neon-green);
}

input[type="checkbox" i] {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid var(--neon-green);
  margin-right: 1rem;
  cursor: pointer;
}

input[type="checkbox" i]:checked {
  background: var(--neon-green);
}

h1 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  opacity: 60%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
